.App {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.croppedImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.croppedImageContainer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
